<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Data</title>
    <link rel="stylesheet" href="/stylesheets/data.css" />
  </head>
  <body>
    <a class="backbtn2" href="/"><img src="https://img.icons8.com/ios-filled/25/null/less-than.png"/>Back</a>
  </body>
</html>
